devops/frontendcicd/sm.json
{
   "Comment": "CICD Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": "$.metadata",
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdargsvalidation",
         "ResultPath": null,
         "Next": "Frontend",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "Frontend": {
         "Type": "Parallel",
         "InputPath": "$",
         "ResultPath": "$",
         "ResultSelector": {
            "frontendMetadata.$": "$.[0]"
         },
         "Next": "Success",
         "Branches": [
            {
               "StartAt": "CreateFrontendChoice",
               "States": {
                  "CreateFrontendChoice": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.frontend.required",
                           "BooleanEquals": true,
                           "Next": "GetFrontendLmdDetail"
                        },
                        {
                           "Variable": "$.frontend.required",
                           "BooleanEquals": false,
                           "Next": "FrontendBranchEnd"
                        }
                     ],
                     "Default": "GetFrontendLmdDetail"
                  },
                  "GetFrontendLmdDetail": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdcodebuildargs",
                     "Parameters": {
                        "version.$": "$.common.version",
                        "publisher.$": "$.common.publisher",
                        "runtime.$": "$.common.runtime",
                        "frontend.$": "$.frontend"
                     },
                     "ResultPath": "$.metadata",
                     "Next": "CreateCurrentLmdArgs"
                  },
                  "CreateCurrentLmdArgs": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdcreatecurrentargs",
                     "Parameters": {
                        "componentArgs.$": "$.metadata.componentArgs",
                        "iterator.$": "$.metadata.iterator"
                     },
                     "ResultPath": "$.currentComponentArgs",
                     "Next": "CreateFrontendCodeBuildCfn"
                  },
                  "CreateFrontendCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambda-dev",
                     "Parameters": {
                        "action": "creation",
                        "name.$": "$.currentComponentArgs.name",
                        "parameters.$": "$.currentComponentArgs.parameters",
                        "cfn.$": "$.currentComponentArgs.cfn"
                     },
                     "ResultPath": null,
                     "Next": "FrontendCodebuildWait"
                  },
                  "FrontendCodebuildWait": {
                     "Type": "Wait",
                     "Seconds": 30,
                     "Next": "FrontendCodebuildCheck"
                  },
                  "FrontendCodebuildCheck": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdastackcheck-dev",
                     "Parameters": {
                        "current.$": "$.metadata.iterator.index",
                        "name.$": "$.currentComponentArgs.name",
                        "expect": "CREATE_COMPLETE"
                     },
                     "ResultPath": "$.metadata.iterator",
                     "Next": "FrontendLmdCodebuildReached"
                  },
                  "FrontendLmdCodebuildReached": {
                     "Type": "Choice",
                     "Choices": [
                        {
                           "Variable": "$.metadata.iterator.currentStatus",
                           "StringEquals": "success",
                           "Next": "RunFrontendCodebuild"
                        }
                     ],
                     "Default": "FrontendCodebuildWait"
                  },
                  "RunFrontendCodebuild": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:states:::codebuild:startBuild.sync",
                     "Parameters": {
                        "ProjectName.$": "$.currentComponentArgs.name"
                     },
                     "ResultPath": null,
                     "Next": "DeleteFrontendCodeBuildCfn"
                  },
                  "DeleteFrontendCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambda-dev",
                     "Parameters": {
                        "action": "deletion",
                        "name.$": "$.currentComponentArgs.name"
                     },
                     "ResultPath": null,
                     "Next": "FrontendCountReached"
                  },
                  "FrontendCountReached": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.metadata.iterator.index",
                           "NumericEqualsPath": "$.metadata.componentCounts",
                           "Next": "UpdateFrontendDeploy"
                        }
                     ],
                     "Default": "CreateCurrentLmdArgs"
                  },
                  "UpdateFrontendDeploy": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicddeploy",
                     "Parameters": {
                        "version.$": "$.common.version",
                        "publisher.$": "$.common.publisher",
                        "runtime.$": "$.common.runtime",
                        "frontend.$": "$.frontend",
                        "componentArgs.$": "$.metadata.componentArgs"
                     },
                     "ResultPath": "$.deployS3Paths",
                     "Next": "CreateInvalidation"
                  },
                  "CreateInvalidation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdcreateinvalidation",
                     "Parameters": {
                        "invalidate.$": "$.common.invalidate",
                        "deployS3Paths.$": "$.deployS3Paths"
                     },
                     "Next": "FrontendBranchEnd"
                  },
                  "FrontendBranchEnd": {
                     "Type": "Pass",
                     "ResultPath": "$",
                     "End": true
                  }
               }
            }
         ],
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdemail",
         "Parameters": {
            "executionName.$": "$.frontendMetadata.common.executionName",
            "email.$": "$.frontendMetadata.common.email",
            "publisher.$": "$.frontendMetadata.common.publisher",
            "status": "success"
         },
         "ResultPath": "$.message",
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdcleanup",
         "Parameters": {
            "frontend.$": "$.frontendMetadata.frontend",
            "status": "failed"
         },
         "ResultPath": "$.message",
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phfrontendcicdemail",
         "Parameters": {
            "executionName.$": "$.frontendMetadata.common.executionName",
            "components.$": "$.frontendMetadata.frontend.components",
            "email.$": "$.frontendMetadata.common.email",
            "publisher.$": "$.frontendMetadata.common.publisher",
            "status": "failed"
         },
         "ResultPath": "$.message",
         "End": true
      }
   }
}