processor/async/copyscriptresource/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ScriptsFilesCreation"
      },
      "ScriptsFilesCreation": {
         "Type": "Choice",
         "InputPath": "$",
         "Choices": [
            {
               "Variable": "$.script.runtime",
               "StringEquals": "pyspark",
               "Next": "PysparkFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "python",
               "Next": "PythonFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "r",
               "Next": "RFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "sparkr",
               "Next": "SparkrFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "sync",
               "Next": "SyncFiles"
            }
         ],
         "Default": "PysparkFiles"
      },
      "SyncFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcesynccreation-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "Next": "CopyScriptFile"
      },
      "PythonFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcepycodegen-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "Next": "CopyScriptFile"
      },
      "RFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcercodegen-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "Next": "CopyScriptFile"
      },
      "SparkrFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcercodegen-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "Next": "CopyScriptFile"
      },
      "PysparkFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcepycodegen-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "Next": "CopyScriptFile"
      },
      "CopyScriptFile" : {
         "Type" : "Task",
         "Resource" : "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangecopyscript-dev",
         "Parameters" : {
            "traceId.$" : "$.common.traceId",
            "projectId.$" : "$.common.projectId",
            "projectName.$" : "$.common.projectName",
            "owner.$" : "$.common.owner",
            "showName.$" : "$.common.showName",
            "script.$" : "$.script"
         },
         "ResultPath": "$.scriptItems",
         "End": true
      }
   }

}