devops/cicd/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "Result": {
            "dagItems": "",
            "scriptItems": ""
         },
         "ResultPath": "$.metadata",
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposargsvalidation-dev",
         "ResultPath": null,
         "Next": "Actions",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required",
            "message.$": "$.action.message"
         },
         "ResultPath": null,
         "Next": "TriggerAndAsync"
      },
      "TriggerAndAsync": {
         "Type": "Parallel",
         "InputPath": "$",
         "ResultPath": "$.metadata",
         "Next": "SuccessMessage",
         "Branches": [
            {
               "StartAt": "CreateTriggerChoice",
               "States": {
                  "CreateTriggerChoice": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.trigger.required",
                           "BooleanEquals": true,
                           "Next": "GetLmdAndApiDetail"
                        },
                        {
                           "Variable": "$.trigger.required",
                           "BooleanEquals": false,
                           "Next": "BranchEnd"
                        }
                     ],
                     "Default": "GetLmdAndApiDetail"
                  },
                  "GetLmdAndApiDetail": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "CreateCodeBuildCfn"
                  },
                  "CreateCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "RunCodebuild"
                  },
                  "RunCodebuild": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "DeleteCodeBuildCfn"
                  },
                  "DeleteCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "UpdateTriggerManageYaml"
                  },
                  "UpdateTriggerManageYaml": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "BranchEnd"
                  },
                  "BranchEnd": {
                     "Type": "Pass",
                     "ResultPath": "$",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "CreateAsyncChoice",
               "States": {
                  "CreateAsyncChoice": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.async.required",
                           "BooleanEquals": true,
                           "Next": "GetLmdAndSfnDetail"
                        },
                        {
                           "Variable": "$.async.required",
                           "BooleanEquals": false,
                           "Next": "AsyncBranchEnd"
                        }
                     ],
                     "Default": "AsyncBranchEnd"
                  },
                  "GetLmdAndSfnDetail": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "CreateCurrentLmdArgs"
                  },
                  "CreateCurrentLmdArgs": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "CreateAsyncCodeBuildCfn"
                  },
                  "CreateAsyncCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "RunAsyncCodebuild"
                  },
                  "RunAsyncCodebuild": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "DeleteAsyncCodeBuildCfn"
                  },
                  "DeleteAsyncCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "AsyncLmdCountReached"
                  },
                  "AsyncLmdCountReached": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "And": [
                              {
                                 "Variable": "$.iterator.index",
                                 "NumericEqualsPath": "$.metadata.count"
                              },
                              {
                                 "Variable": "$.iterator.currentStatus",
                                 "StringEquals": "succeed"
                              }
                           ],
                           "Next": "UpdateAsyncManageYaml"
                        }
                     ],
                     "Default": "CreateCurrentLmdArgs"
                  },
                  "UpdateAsyncManageYaml": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "AsyncBranchEnd"
                  },
                  "AsyncBranchEnd": {
                     "Type": "Pass",
                     "ResultPath": "$",
                     "End": true
                  }
               }
            }
         ],
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "SuccessMessage": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangepossuccessmsg-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments"
         },
         "ResultPath": "$.message",
         "Next": "Success"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.message",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposcleanup-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "scriptItems.$": "$.metadata.scriptItems",
            "dagItems.$": "$.metadata.dagItems",
            "errors.$": "$.error",
            "status": "failed"
         },
         "ResultPath": "$.message",
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.message",
            "status": "failed"
         },
         "End": true
      }
   }
}