devops/cicd/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "Result": {
            "dagItems": "",
            "scriptItems": ""
         },
         "ResultPath": "$.metadata",
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdargsvalidation-dev",
         "ResultPath": null,
         "Next": "TriggerAndAsync",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "TriggerAndAsync": {
         "Type": "Parallel",
         "InputPath": "$",
         "ResultPath": "$.metadata",
         "Next": "SuccessMessage",
         "Branches": [
            {
               "StartAt": "CreateTriggerChoice",
               "States": {
                  "CreateTriggerChoice": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.trigger.required",
                           "BooleanEquals": true,
                           "Next": "GetLmdAndApiDetail"
                        },
                        {
                           "Variable": "$.trigger.required",
                           "BooleanEquals": false,
                           "Next": "BranchEnd"
                        }
                     ],
                     "Default": "GetLmdAndApiDetail"
                  },
                  "GetLmdAndApiDetail": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "CreateCodeBuildCfn"
                  },
                  "CreateCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "RunCodebuild"
                  },
                  "RunCodebuild": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "DeleteCodeBuildCfn"
                  },
                  "DeleteCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "UpdateTriggerManageYaml"
                  },
                  "UpdateTriggerManageYaml": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposupdatedag-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "Next": "BranchEnd"
                  },
                  "BranchEnd": {
                     "Type": "Pass",
                     "ResultPath": "$",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "CreateAsyncChoice",
               "States": {
                  "CreateAsyncChoice": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.processor.required",
                           "BooleanEquals": true,
                           "Next": "GetLmdAndSfnDetail"
                        },
                        {
                           "Variable": "$.processor.required",
                           "BooleanEquals": false,
                           "Next": "AsyncBranchEnd"
                        }
                     ],
                     "Default": "AsyncBranchEnd"
                  },
                  "GetLmdAndSfnDetail": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdgetlmdandsfndetail-dev",
                     "Parameters": {
                        "version.$": "$.common.version",
                        "commit.$": "$.common.commit",
                        "publisher.$": "$.common.publisher",
                        "alias.$": "$.common.alias",
                        "runtime.$": "$.common.runtime",
                        "processor.$": "$.processor"
                     },
                     "ResultPath": "$.metadata",
                     "Next": "CreateCurrentLmdArgs"
                  },
                  "CreateCurrentLmdArgs": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdcreatecurrentlmdargs-dev",
                     "Parameters": {
                        "lambdaArgs.$": "$.metadata.lambdaArgs",
                        "iterator.$": "$.metadata.iterator"
                     },
                     "ResultPath": "$.currentLmdArgs",
                     "Next": "CreateAsyncCodeBuildCfn"
                  },
                  "CreateAsyncCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambda-dev",
                     "Parameters": {
                        "action": "creation",
                        "name.$": "$.currentLmdArgs.name",
                        "parameters.$": "$.currentLmdArgs.parameters",
                        "cfn.$": "$.currentLmdArgs.cfn"
                     },
                     "ResultPath": null,
                     "Next": "CodebuildWait"
                  },
                  "CodebuildWait": {
                     "Type": "Wait",
                     "Seconds": 30,
                     "Next": "CodebuildCheck"
                  },
                  "CodebuildCheck": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdastackcheck-dev",
                     "Parameters": {
                        "current.$": "$.metadata.iterator.index",
                        "name.$": "$.currentLmdArgs.name",
                        "expect": "CREATE_COMPLETE"
                     },
                     "ResultPath": "$.metadata.iterator",
                     "Next": "AsyncStepsCountReached"
                  },
                  "AsyncStepsCountReached": {
                     "Type": "Choice",
                     "Choices": [
                        {
                           "Variable": "$.metadata.iterator.currentStatus",
                           "StringEquals": "success",
                           "Next": "RunAsyncCodebuild"
                        }
                     ],
                     "Default": "CodebuildWait"
                  },
                  "RunAsyncCodebuild": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:states:::codebuild:startBuild.sync",
                     "Parameters": {
                        "ProjectName.$": "$.currentLmdArgs.name"
                     },
                     "ResultPath": null,
                     "Next": "DeleteAsyncCodeBuildCfn"
                  },
                  "DeleteAsyncCodeBuildCfn": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambda-dev",
                     "Parameters": {
                        "action": "deletion",
                        "name.$": "$.currentLmdArgs.name"
                     },
                     "ResultPath": null,
                     "Next": "AsyncLmdCountReached"
                  },
                  "AsyncLmdCountReached": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.metadata.iterator.index",
                           "NumericEqualsPath": "$.metadata.lmdCounts",
                           "Next": "UpdateAsyncManageYaml"
                        }
                     ],
                     "Default": "CreateCurrentLmdArgs"
                  },
                  "UpdateAsyncManageYaml": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdupdateasyncmanageyaml-dev",
                     "Parameters": {
                        "version.$": "$.common.version",
                        "commit.$": "$.common.commit",
                        "publisher.$": "$.common.publisher",
                        "alias.$": "$.common.alias",
                        "runtime.$": "$.common.runtime",
                        "processor.$": "$.processor",
                        "lambdaArgs.$": "$.lambdaArgs"
                     },
                     "ResultPath": "$.stackMessage",
                     "Next": "CreateManageStack"
                  },
                  "CreateManageStack": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdcreatecfn-dev",
                     "Parameters": {
                        "stackName.$": "$.stackMessage.stackName",
                        "manageUrl.$": "$.stackMessage.manageUrl"
                     },
                     "ResultPath": "$.changeSetMsg",
                     "Next": "JudgeExecuteChangeSet"
                  },
                  "JudgeExecuteChangeSet": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.changeSetMsg.changeSetName",
                           "IsNull": true,
                           "Next": "AsyncBranchEnd"
                        }
                     ],
                     "Default": "ChangeSetWait"
                  },
                  "ChangeSetWait": {
                     "Type": "Wait",
                     "Seconds": 30,
                     "Next": "CheckChangeSet"
                  },
                  "CheckChangeSet": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdcheckchangeset-dev",
                     "Parameters": {
                        "stackName.$": "$.changeSetMsg.stackName",
                        "manageUrl.$": "$.changeSetMsg.changeSetName"
                     },
                     "ResultPath": "$.changeSetStatus",
                     "Next": "ChangeSetStatusReached"
                  },
                  "ChangeSetStatusReached": {
                     "Type": "Choice",
                     "InputPath": "$",
                     "Choices": [
                        {
                           "Variable": "$.changeSetStatus",
                           "BooleanEquals": true,
                           "Next": "ExecutionChangeSet"
                        }
                     ],
                     "Default": "ChangeSetWait"
                  },
                  "ExecutionChangeSet": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phcicdexecutestackchangeset-dev",
                     "Parameters": {
                        "stackName.$": "$.changeSetMsg.stackName",
                        "manageUrl.$": "$.changeSetMsg.changeSetName"
                     },
                     "ResultPath": null,
                     "Next": "AsyncBranchEnd"
                  },
                  "AsyncBranchEnd": {
                     "Type": "Pass",
                     "ResultPath": "$",
                     "End": true
                  }
               }
            }
         ],
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "SuccessMessage": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangepossuccessmsg-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments"
         },
         "ResultPath": "$.message",
         "Next": "Success"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.message",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcechangeposcleanup-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "scriptItems.$": "$.metadata.scriptItems",
            "dagItems.$": "$.metadata.dagItems",
            "errors.$": "$.error",
            "status": "failed"
         },
         "ResultPath": "$.message",
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.message",
            "status": "failed"
         },
         "End": true
      }
   }
}