processor/async/resourcechangepos/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "Result": {
            "dagItems": "",
            "scriptItems": ""
         },
         "ResultPath": "$.metadata",
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangeposargsvalidation",
         "ResultPath": null,
         "Next": "Actions",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required",
            "message.$": "$.action.message"
         },
         "ResultPath": null,
         "Next": "NewItemsIndex"
      },
      "NewItemsIndex": {
         "Type": "Parallel",
         "InputPath": "$",
         "ResultSelector": {
            "dagItems.$": "$.[0].dagItems",
            "scriptItems.$": "$.[1].scriptItems"
         },
         "ResultPath": "$.metadata",
         "Next": "UpdateNewItems",
         "Branches": [
            {
               "StartAt": "NewDagIndex",
               "States": {
                  "NewDagIndex": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangeposupdatedag",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.dagItems",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "NewScriptIndex",
               "States": {
                  "NewScriptIndex": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangeposupdatedagconf",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.scriptItems",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "NewStepIndex",
               "States": {
                  "NewStepIndex": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangeposupdatestep",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets",
                        "script.$": "$.script",
                        "step.$": "$.step"
                     },
                     "ResultPath": "$.stepItems",
                     "End": true
                  }
               }
            }
         ],
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "UpdateNewItems": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangeposexecutionupdate",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "scriptItems.$": "$.metadata.scriptItems",
            "dagItems.$": "$.metadata.dagItems",
            "script.$": "$.script"
         },
         "ResultPath": "$.scriptChangeArgs",
         "Next": "ScriptChangeChoice",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "ScriptChangeChoice": {
         "Type": "Choice",
         "InputPath": "$",
         "Choices": [
            {
               "Variable": "$.script.new.runtime",
               "StringEquals": "pyspark",
               "Next": "ExecutionCopyResource"
            },
            {
               "Variable": "$.script.new.runtime",
               "StringEquals": "python",
               "Next": "ExecutionCopyResource"
            },
            {
               "Variable": "$.script.new.runtime",
               "StringEquals": "r",
               "Next": "ExecutionCopyResource"
            },
            {
               "Variable": "$.script.new.runtime",
               "StringEquals": "sparkr",
               "Next": "ExecutionCopyResource"
            },
            {
               "Variable": "$.script.new.runtime",
               "StringEquals": "sync",
               "Next": "ExecutionCopyResource"
            }
         ],
         "Default": "ExecutionCreateResource"
      },
      "ExecutionCreateResource": {
         "Type": "Task",
         "Resource": "arn:aws-cn:states:::states:startExecution.sync:2",
         "Parameters": {
            "Input.$": "$.scriptChangeArgs",
            "StateMachineArn": "arn:aws-cn:states:cn-northwest-1:444603803904:stateMachine:createscriptrefile"
         },
         "ResultPath": null,
         "Next": "ExecutionCodeGen",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "ExecutionCopyResource": {
         "Type": "Task",
         "Resource": "arn:aws-cn:states:::states:startExecution.sync:2",
         "Parameters": {
            "Input.$": "$.scriptChangeArgs",
            "StateMachineArn": "arn:aws-cn:states:cn-northwest-1:444603803904:stateMachine:createscriptrefile"
         },
         "ResultPath": null,
         "Next": "CopyScriptFile",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "CopyScriptFile": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangecopyscript",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.scriptChangeArgs.changeScriptMsg"
         },
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ],
         "ResultPath": null,
         "Next": "SuccessMessage"
      },
      "ExecutionCodeGen": {
         "Type": "Task",
         "Resource": "arn:aws-cn:states:::states:startExecution.sync:2",
         "Parameters": {
            "Input.$": "$.scriptChangeArgs.codeGenArgs",
            "StateMachineArn": "arn:aws-cn:states:cn-northwest-1:444603803904:stateMachine:resourcecodegen"
         },
         "ResultPath": null,
         "Next": "SuccessMessage",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "SuccessMessage": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangepossuccessmsg",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments"
         },
         "ResultPath": "$.message",
         "Next": "Success"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.message",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcechangeposcleanup",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "scriptItems.$": "$.metadata.scriptItems",
            "dagItems.$": "$.metadata.dagItems",
            "errors.$": "$.error",
            "status": "failed"
         },
         "ResultPath": "$.message",
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.message",
            "status": "failed"
         },
         "End": true
      }
   }
}