processor/async/resourcecreation/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourceargsvalidation-dev",
         "ResultPath": null,
         "Next": "Actions",
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "Failed"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "Failed"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "Failed"
          } ],
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required"
         },
         "ResultPath": null,
         "Next": "ResourceCreation"
      },
      "ResouceLink": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcelinkcreation-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": null,
         "Next": "Success",
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
      },
      "ResourceCreation": {
         "Type": "Parallel",
         "InputPath": "$",
         "Next": "ResouceLink",
         "Branches": [
            {
               "StartAt": "DSCreation",
               "States": {
                  "DSCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcedatasetcreation-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets"
                     },
                     "ResultPath": "$.result.datasets",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "ScriptsCreation",
               "States": {
                  "ScriptsCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcescriptindexcreation-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "script.$": "$.script"
                     },
                     "ResultPath": "$.script",
                     "Next": "ScriptsFilesCreation"
                  },
                  "ScriptsFilesCreation": {
                     "Type": "Choice",
                     "InputPath": "$.script",
                     "Choices": [
                        {
                           "Variable": "$.runtime",
                           "StringEquals": "pyspark",
                           "Next": "PysparkFiles"
                        },
                        {
                           "Variable": "$.runtime",
                           "StringEquals": "python",
                           "Next": "PythonFiles"
                        },
                        {
                           "Variable": "$.runtime",
                           "StringEquals": "r",
                           "Next": "RFiles"
                        },
                        {
                           "Variable": "$.runtime",
                           "StringEquals": "sparkr",
                           "Next": "SparkrFiles"
                        }
                     ],
                     "Default": "PysparkFiles"
                  },
                  "PysparkFiles": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcepysparkcreation-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "projectName.$": "$.common.projectName",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "script.$": "$.script"
                     },
                     "End": true
                  },
                  "PythonFiles": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:ph-resourcepythoncreation-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "script.$": "$.script"
                     },
                     "End": true
                  },
                  "RFiles": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:ph-resoucercreation-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "script.$": "$.script"
                     },
                     "End": true
                  },
                  "SparkrFiles": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:ph-resourcesparkrcreation-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "script.$": "$.script"
                     },
                     "End": true
                  }
               }
            }
         ],
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.result",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcefiledcleanup-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "projectName.$": "$.common.projectName",
            "datasets.$": "$.datasets",
            "scripts.$": "$.scripts"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.error",
            "status": "failed"
         },
         "End": true
      },
   }

}