processor/async/resourcecreation/sm.json
{
    "Comment": "Pharbers Resource Creation",
    "StartAt": "StartState",
    "States": {
      "StartState": {
        "Type": "Pass",
        "ResultPath": null,
        "Next": "ArgsValidation"
      },
      "ArgsValidation": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourceargsvalidation",
        "ResultPath": null,
        "Next": "Actions",
        "Catch": [
          {
            "ErrorEquals": [
              "States.Runtime"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          }
        ]
      },
      "Actions": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsactions-dev",
        "Parameters": {
          "traceId.$": "$.common.traceId",
          "projectId.$": "$.common.projectId",
          "owner.$": "$.common.owner",
          "showName.$": "$.common.showName",
          "jobCat.$": "$.action.cat",
          "jobDesc.$": "$.action.desc",
          "message.$": "$.action.message",
          "comments.$": "$.action.comments",
          "required.$": "$.action.required"
        },
        "ResultPath": null,
        "Next": "ResourceCreation"
      },
      "SuccessMessage": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phconvertmessagesuccess-dev",
        "Parameters": {
          "traceId.$": "$.common.traceId",
          "projectId.$": "$.common.projectId",
          "owner.$": "$.common.owner",
          "showName.$": "$.common.showName",
          "flowVersion.$": "$.common.flowVersion",
          "dagName.$": "$.common.dagName",
          "projectName.$": "$.common.projectName",
          "result.$": "$.result",
          "jobCat.$": "$.action.cat",
          "jobDesc.$": "$.action.desc",
          "comments.$": "$.action.comments"
        },
        "ResultPath": "$.message",
        "Next": "Success"
      },
      "ResourceLink": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcelinkcreation",
        "Parameters": {
          "traceId.$": "$.common.traceId",
          "projectId.$": "$.common.projectId",
          "projectName.$": "$.common.projectName",
          "owner.$": "$.common.owner",
          "flowVersion.$": "$.common.flowVersion",
          "showName.$": "$.common.showName",
          "datasets.$": "$.result.datasets",
          "script.$": "$.result.script"
        },
        "ResultPath": null,
        "Next": "SuccessMessage",
        "Catch": [
          {
            "ErrorEquals": [
              "States.Runtime"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          }
        ]
      },
      "ResourceCreation": {
        "Type": "Parallel",
        "InputPath": "$",
        "ResultSelector": {
          "datasets.$": "$.[0].datasets",
          "script.$": "$.[1].script"
        },
        "ResultPath": "$.result",
        "Next": "ScriptsResourceCreation",
        "Branches": [
          {
            "StartAt": "DSCreation",
            "States": {
              "DSCreation": {
                "Type": "Task",
                "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcedatasetcreation",
                "Parameters": {
                  "traceId.$": "$.common.traceId",
                  "projectId.$": "$.common.projectId",
                  "projectName.$": "$.common.projectName",
                  "owner.$": "$.common.owner",
                  "showName.$": "$.common.showName",
                  "datasets.$": "$.datasets"
                },
                "ResultPath": "$.datasets",
                "Next": "VersionCreation"
              },
              "VersionCreation": {
                "Type": "Task",
                "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourceversioncreation",
                "Parameters": {
                  "traceId.$": "$.common.traceId",
                  "projectId.$": "$.common.projectId",
                  "projectName.$": "$.common.projectName",
                  "owner.$": "$.common.owner",
                  "showName.$": "$.common.showName",
                  "datasets.$": "$.datasets",
                  "script.$": "$.script"
                },
                "ResultPath": null,
                "End": true
              }
            }
          },
          {
            "StartAt": "ScriptsCreation",
            "States": {
              "ScriptsCreation": {
                "Type": "Task",
                "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcescriptindexcreation",
                "Parameters": {
                  "traceId.$": "$.common.traceId",
                  "projectId.$": "$.common.projectId",
                  "projectName.$": "$.common.projectName",
                  "owner.$": "$.common.owner",
                  "showName.$": "$.common.showName",
                  "script.$": "$.script"
                },
                "ResultPath": "$.script",
                "End": true
              }
            }
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.Runtime"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          }
        ]
      },
      "ScriptsResourceCreation": {
        "Type": "Task",
        "Resource": "arn:aws-cn:states:::states:startExecution.sync:2",
        "Parameters": {
          "Input.$": "$",
          "StateMachineArn": "arn:aws-cn:states:cn-northwest-1:444603803904:stateMachine:createscriptrefile"
        },
        "ResultPath": null,
        "Next": "ResourceLink",
        "Catch": [
          {
            "ErrorEquals": [
              "States.Runtime"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.TaskFailed"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          },
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
          }
        ]
      },
      "Success": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
        "Parameters": {
          "traceId.$": "$.common.traceId",
          "projectId.$": "$.common.projectId",
          "owner.$": "$.common.owner",
          "showName.$": "$.common.showName",
          "flowVersion.$": "$.common.flowVersion",
          "dagName.$": "$.common.dagName",
          "projectName.$": "$.common.projectName",
          "jobCat.$": "$.action.cat",
          "jobDesc.$": "$.action.desc",
          "comments.$": "$.action.comments",
          "message.$": "$.message",
          "status": "succeed"
        },
        "End": true
      },
      "CleanUp": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcefailedcleanup",
        "Parameters": {
          "traceId.$": "$.common.traceId",
          "projectId.$": "$.common.projectId",
          "owner.$": "$.common.owner",
          "showName.$": "$.common.showName",
          "projectName.$": "$.common.projectName",
          "datasets.$": "$.datasets",
          "errors.$": "$.error",
          "result.$": "$.result",
          "script.$": "$.script"
        },
        "ResultPath": "$.message",
        "Next": "Failed"
      },
      "Failed": {
        "Type": "Task",
        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
        "Parameters": {
          "traceId.$": "$.common.traceId",
          "projectId.$": "$.common.projectId",
          "owner.$": "$.common.owner",
          "showName.$": "$.common.showName",
          "flowVersion.$": "$.common.flowVersion",
          "dagName.$": "$.common.dagName",
          "projectName.$": "$.common.projectName",
          "jobCat.$": "$.action.cat",
          "jobDesc.$": "$.action.desc",
          "comments.$": "$.action.comments",
          "message.$": "$.message",
          "status": "failed"
        },
        "End": true
      }
    }
  }