processor/async/resourcecreation/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourceargsvalidation-dev",
         "ResultPath": null,
         "Next": "Actions",
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws:lambda:us-east-1:123456789012:function:AddressFinder",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required"
         },
         "ResultPath": null,
         "Next": "ResourceCreation"
      },
      "ResourceCreation": {
         "Type": "Parallel",
         "Next": "Success",
         "Branches": [
            {
               "StartAt": "DSCreation",
               "States": {
                  "DSCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws:lambda:us-east-1:123456789012:function:AddressFinder",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "datasets.$": "$.datasets"
                     },
                     "ResultPath": "$.result.dataset",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "ScriptsCreation",
               "States": {
                  "ScriptsCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws:lambda:us-east-1:123456789012:function:AddressFinder",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "scripts.$": "$.scripts"
                     },
                     "ResultPath": "$.result.scripts",
                     "End": true
                  }
               }
            }
         ],
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws:lambda:us-east-1:123456789012:function:AddressFinder",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.result",
            "status.$": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws:lambda:us-east-1:123456789012:function:AddressFinder",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "datasets.$": "$.datasets",
            "scripts.$": "$.scripts"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws:lambda:us-east-1:123456789012:function:AddressFinder",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.error",
            "status.$": "failed"
         },
         "End": true
      },
   }

}