processor/async/resourcecodegen/sm-v2.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
       "StartState": {
           "Type": "Pass",
           "ResultPath": null,
           "Next": "ArgsValidation"
       },
       "ArgsValidation": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcecodegenargsvalidation-V2:Current",
           "ResultPath": null,
           "Next": "Actions",
           "Catch": [
               {
                   "ErrorEquals": [
                       "States.Runtime"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.TaskFailed"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.ALL"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               }
           ]
       },
       "Actions": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-V2:Current",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "message.$": "$.action.message",
               "comments.$": "$.action.comments",
               "required.$": "$.action.required"
           },
           "ResultPath": null,
           "Next": "StepsIndex"
       },
       "StepsIndex": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcecodegenindexupdating-V2:Current",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "projectName.$": "$.common.projectName",
               "flowVersion.$": "$.common.flowVersion",
               "dagName.$": "$.common.dagName",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "script.$": "$.script",
               "steps.$": "$.steps"
           },
           "ResultPath": "$.oldImage",
           "Next": "ScriptsFilesCreation"
       },
       "ScriptsFilesCreation": {
           "Type": "Choice",
           "Choices": [
               {
                   "Variable": "$.script.runtime",
                   "StringEquals": "prepare",
                   "Next": "PrepareCodeGen"
               },
               {
                   "Variable": "$.script.runtime",
                   "StringEquals": "join",
                   "Next": "JoinCodeGen"
               }
           ],
           "Default": "PrepareCodeGen"
       },
       "JoinCodeGen": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcecodegenjoin-V2:Current",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "projectName.$": "$.common.projectName",
               "flowVersion.$": "$.common.flowVersion",
               "dagName.$": "$.common.dagName",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "script.$": "$.script",
               "steps.$": "$.steps"
           },
           "Catch": [
               {
                   "ErrorEquals": [
                       "States.Runtime"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.TaskFailed"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.ALL"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               }
           ],
           "ResultPath": null,
           "Next": "Success"
       },
       "PrepareCodeGen": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcecodegenparpare-V2:Current",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "projectName.$": "$.common.projectName",
               "flowVersion.$": "$.common.flowVersion",
               "dagName.$": "$.common.dagName",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "script.$": "$.script",
               "steps.$": "$.steps"
           },
           "Catch": [
               {
                   "ErrorEquals": [
                       "States.Runtime"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.TaskFailed"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.ALL"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               }
           ],
           "ResultPath": "$.message",
           "Next": "Success"
       },
       "Success": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-V2:Current",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "flowVersion.$": "$.common.flowVersion",
               "dagName.$": "$.common.dagName",
               "projectName.$": "$.common.projectName",
               "jobId.$": "$.script.id",
               "jobShowName.$": "$.script.jobName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "comments.$": "$.action.comments",
               "message.$": "$.message",
               "status": "succeed"
           },
           "End": true
       },
       "CleanUp": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phresourcecodegencleanup-V2:Current",
           "InputPath": "$",
           "ResultPath": "$.message",
           "Next": "Failed"
       },
       "Failed": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-V2:Current",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "flowVersion.$": "$.common.flowVersion",
               "dagName.$": "$.common.dagName",
               "projectName.$": "$.common.projectName",
               "jobId.$": "$.script.id",
               "jobShowName.$": "$.script.jobName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "comments.$": "$.action.comments",
               "message.$": "$.message",
               "status": "failed"
           },
           "End": true
       }
   }
}