processor/async/scenariocheckcalllback/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "Result": {},
         "ResultPath": "$.iterator",
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phscenariocheckcallbackargsvalidation",
         "ResultPath": "$.TriggerCount",
         "Next": "ScenarioCheck",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.iterator.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.iterator.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.iterator.error",
               "Next": "CleanUp"
            }
         ]
      },
      "ScenarioCheck": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phscenariocheck",
         "Parameters": {
            "common.$": "$.common",
            "type.$": "$.type"
         },
         "ResultPath": "$.TriggerItem",
         "Next": "ScenarioTriggerArgs",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.iterator.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.iterator.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.iterator.error",
               "Next": "CleanUp"
            }
         ]
      },
      "ScenarioTriggerArgs": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phscenariotriggerargs",
         "Parameters": {
            "TriggerItem.$": "$.TriggerItem.item",
            "scenario_mapping.$": "$.TriggerItem.scenario_mapping",
            "count.$": "$.TriggerCount",
            "common.$": "$.common",
            "type.$": "$.type"
         },
         "ResultPath": "$.ScenarioTriggerArgs",
         "Next": "ScenarioTrigger"
      },
      "ScenarioTrigger": {
         "Type": "Task",
         "Resource": "arn:aws-cn:states:::states:startExecution",
         "Parameters": {
            "Input.$": "$.ScenarioTriggerArgs",
            "StateMachineArn": "arn:aws-cn:states:cn-northwest-1:444603803904:stateMachine:scenariotrigger",
            "Name.$": "$.ScenarioTriggerArgs.common.traceId"
         },
         "ResultPath": null,
         "Next": "ScenarioTriggerCount"
      },
      "ScenarioTriggerCount": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phscenariotriggercount",
         "Parameters": {
            "TriggerCount.$": "$.TriggerCount"
         },
         "ResultPath": "$.TriggerCount",
         "Next": "ScenarioTriggerCheck"
      },
      "ScenarioTriggerCheck": {
         "Type": "Choice",
         "Choices": [
            {
               "And": [
                  {
                     "Variable": "$.TriggerCount",
                     "NumericEqualsPath": "$.TriggerItem.count"
                  }
               ],
               "Next": "SuccessState"
            }
         ],
         "Default": "ScenarioTriggerArgs"
      },
      "SuccessState": {
        "Type": "Succeed"
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phscenariocheckcallbackcleanup",
         "Parameters": {},
         "ResultPath": "$.message",
         "End": true
      }
   }
}