processor/async/logscollection/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phlogscollectionargsvalidation",
         "ResultPath": null,
         "Next": "ScenarioCheckArgs",
         "Catch": [ {
            "ErrorEquals": [ "States.Runtime" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.TaskFailed" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.ALL" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         } ]
      },
      "ScenarioCheckArgs": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phscenariocheckargs",
         "Parameters": {
            "common.$": "$.common",
            "clusterId.$": "$.clusterId",
            "jobName.$": "$.jobName",
            "date.$": "$.date",
            "stepId.$": "$.stepId"
         },
         "ResultPath": "$.ScenarioCheckArgs",
         "Next": "ScenarioCheck"
      },
      "ScenarioCheck": {
         "Type": "Task",
         "Resource": "arn:aws-cn:states:::states:startExecution",
         "Parameters": {
            "Input.$": "$.ScenarioCheckArgs",
            "StateMachineArn": "arn:aws-cn:states:cn-northwest-1:444603803904:stateMachine:scenariocheckcalllback",
            "Name.$": "$.ScenarioCheckArgs.common.traceId"
         },
         "ResultPath": null,
         "Next": "waitLogsPath"
      },
      "waitLogsPath": {
         "Type": "Wait",
         "Seconds": 30,
         "Next": "logsPathCheck"
      },
      "logsPathCheck": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phlogscollectioncheck",
         "Parameters": {
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "jobName.$": "$.jobName",
            "date.$": "$.date",
            "clusterId.$": "$.clusterId",
            "stepId.$": "$.stepId"
         },
         "ResultPath": "$.result",
         "Next": "isLogsReady",
         "Catch": [ {
            "ErrorEquals": [ "States.Runtime" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.TaskFailed" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.ALL" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         } ]
      },
      "isLogsReady": {
         "Type": "Choice",
         "Choices": [
            {
               "Variable": "$.result.logIsReady",
               "BooleanEquals": false,
               "Next": "waitLogsPath"
            }
         ],
         "Default": "writeLogsPath"
      },
      "writeLogsPath": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phlogscollection2db",
         "Parameters": {
            "runnerId.$": "$.common.runnerId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "jobName.$": "$.jobName",
            "date.$": "$.date",
            "clusterId.$": "$.clusterId",
            "stepId.$": "$.stepId",
            "result.$": "$.result"
         },
         "ResultPath": null,
         "Next": "Success"
      },
      "Success": {
         "Type": "Succeed"
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phlogscollectioncleanup",
         "Parameters": {
            "showName.$": "$.common.showName",
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "error.$": "$.error"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Fail"
      }
   }

}