processor/async/createscriptrefile/sm.json
{
   "Comment": "Pharbers Resource Scripts Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ScriptsFilesCreation"
      },
      "ScriptsFilesCreation": {
         "Type": "Choice",
         "InputPath": "$",
         "Choices": [
            {
               "Variable": "$.script.runtime",
               "StringEquals": "pyspark",
               "Next": "PysparkFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "python",
               "Next": "PythonFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "r",
               "Next": "RFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "sparkr",
               "Next": "SparkrFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "sync",
               "Next": "SyncFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "shared",
               "Next": "SharedFiles"
            },
            {
               "Variable": "$.script.runtime",
               "StringEquals": "export",
               "Next": "ExportFiles"
            }
         ],
         "Default": "PysparkFiles"
      },
      "SyncFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcesynccreation",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "End": true
      },
      "PythonFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcepycodegen",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "End": true
      },
      "PysparkFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcepycodegen",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "End": true
      },
      "SharedFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcecodegenshared",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script",
            "datasets.$": "$.datasets"
         },
         "ResultPath": "$.script",
         "End": true
      },
      "ExportFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcecodegenexport",
         "Parameters": {
            "tenantId.$": "$.common.tenantId",
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script",
            "datasets.$": "$.datasets"
         },
         "ResultPath": "$.script",
         "End": true
      },
      "RFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcercodegen",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "End": true
      },
      "SparkrFiles": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresourcercodegen",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "projectName.$": "$.common.projectName",
            "dagName.$": "$.common.dagName",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "script.$": "$.script"
         },
         "ResultPath": "$.script",
         "End": true
      }
   }

}