processor/async/tenantboot/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootargsvalidation-dev",
         "ResultPath": null,
         "Next": "SSMTracePass",
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
      },
      "SSMTracePass": {
         "Type": "Pass",         
         "Result": {
            "traceId.$": "$.common.traceId"
         },
         "ResultPath": "$.result",
         "Next": "SSMTrace"
      },
      "SSMTrace": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "write",
            "key.$": "$.common.tenantId",
            "value.$": "$.result" 
         },
         "ResultPath": null,
         "Next": "Actions"
      },
      "ResouceMetadata": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootresourcemate-dev",
         "Parameters": {
            "tenantId.$": "$.common.tenantId",
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "resources.$": "$.resources"
         },
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
         "ResultPath": "$.metadata",
         "Next": "ResourceCreation"
      },
      "ResourceCreation": {
         "Type": "Parallel",
         "InputPath": "$",
         "ResultSelector": {
            "engine.$": "$.[0].engine",
            "olap.$": "$.[1].olap"
         },
         "ResultPath": "$.result",
         "Next": "SSMCreation",
         "Branches": [
            {
               "StartAt": "EngineResultPass",
               "States": {
                  "EngineResultPass": {
                     "Type": "Pass",
                     "Result": {},
                     "ResultPath": "$.engine",
                     "Next": "EngineStepsIterator"
                  },
                  "EngineStepsIterator": {
                     "Type": "Pass",
                     "Result": {
                        "index": 0,
                        "currentStatus": "running"
                     },
                     "ResultPath": "$.iterator",
                     "Next": "EngineStepsArg"
                  },
                  "EngineStepsArg": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdaargs-dev",
                     "Parameters": {
                        "iterator.$": "$.iterator.index",
                        "steps.$": "$.metadata.engine.steps"
                     },
                     "ResultPath": "$.currentStep",
                     "Next": "EngineCreation"
                  },
                  "EngineCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambda-dev",
                     "Parameters": {
                        "action": "creation",
                        "name.$": "$.currentStep.stackName",
                        "cfn.$": "$.currentStep.cfn",
                        "parameters.$": "$.currentStep.parameters",
                        "dependencies.$": "$.currentStep.dependencies",
                        "result.$": "$.engine"
                     },
                     "ResultPath": null,
                     "Next": "EngineWait"
                  },
                  "EngineWait": {
                     "Type": "Wait",
                     "Seconds": 30,
                     "Next": "EngineCheck"
                  },
                  "EngineCheck": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdastackcheck-dev",
                     "Parameters": {
                        "current.$": "$.iterator.index",
                        "name.$": "$.currentStep.stackName",
                        "expect": "CREATE_COMPLETE"
                     },
                     "ResultPath": "$.iterator",
                     "Next": "EngineStepsCountReached"
                  },
                  "EngineStepsCountReached": {
                     "Type": "Choice",
                     "Choices": [
                        {
                           "And": [
                              {
                                 "Variable": "$.iterator.index",
                                 "NumericEqualsPath": "$.metadata.engine.counts",
                              },
                              {
                                 "Variable": "$.iterator.currentStatus",
                                 "StringEquals": "success",
                              }

                           ],
                           "Next": "EngineResultCollection"
                        },
                        {
                           "And": [
                              {
                                 "Variable": "$.iterator.index",
                                 "NumericLessThanPath": "$.metadata.engine.counts",
                              },
                              {
                                 "Variable": "$.iterator.currentStatus",
                                 "StringEquals": "success",
                              }

                           ],
                           "Next": "EngineResultStepsCollection"
                        }
                     ],
                     "Default": "EngineWait"
                  },
                  "EngineResultStepsCollection": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdaoutputs-dev",
                     "Parameters": {
                        "result.$": "$.engine",
                        "resultPath": "engine",
                        "resultType.$": "$.currentStep.type",
                        "name.$": "$.currentStep.stackName"
                     },
                     "ResultPath": "$.engine",
                     "Next": "EngineStepsArg"
                  },
                  "EngineResultCollection": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdaoutputs-dev",
                     "Parameters": {
                        "result.$": "$.engine",
                        "resultPath": "engine",
                        "resultType.$": "$.currentStep.type",
                        "name.$": "$.currentStep.stackName"
                     },
                     "ResultPath": "$.engine",
                     "Next": "EngineEnd"
                  },
                  "EngineEnd": {
                     "Type": "Succeed"
                  }
               }
            },
            {
               "StartAt": "OlapResultPass",
               "States": {
                  "OlapResultPass": {
                     "Type": "Pass",
                     "Result": {},
                     "ResultPath": "$.olap",
                     "Next": "OlapStepsIterator"
                  },
                  "OlapStepsIterator": {
                     "Type": "Pass",
                     "Result": {
                        "index": 0,
                        "currentStatus": "running"
                     },
                     "ResultPath": "$.iterator",
                     "Next": "OlapStepsArg"
                  },
                  "OlapStepsArg": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdaargs-dev",
                     "Parameters": {
                        "iterator.$": "$.iterator.index",
                        "steps.$": "$.metadata.olap.steps"
                     },
                     "ResultPath": "$.currentStep",
                     "Next": "OlapCreation"
                  },
                  "OlapCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambda-dev",
                     "Parameters": {
                        "action": "creation",
                        "name.$": "$.currentStep.stackName",
                        "cfn.$": "$.currentStep.cfn",
                        "parameters.$": "$.currentStep.parameters",
                        "dependencies.$": "$.currentStep.dependencies",
                        "result.$": "$.olap"
                     },
                     "ResultPath": null,
                     "Next": "OlapWait"
                  },
                  "OlapWait": {
                     "Type": "Wait",
                     "Seconds": 30,
                     "Next": "OlapCheck"
                  },
                  "OlapCheck": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdastackcheck-dev",
                     "Parameters": {
                        "current.$": "$.iterator.index",
                        "name.$": "$.currentStep.stackName",
                        "expect": "CREATE_COMPLETE"
                     },
                     "ResultPath": "$.iterator",
                     "Next": "OlapStepsCountReached"
                  },
                  "OlapStepsCountReached": {
                     "Type": "Choice",
                     "Choices": [
                        {
                           "And": [
                              {
                                 "Variable": "$.iterator.index",
                                 "NumericEqualsPath": "$.metadata.engine.counts",
                              },
                              {
                                 "Variable": "$.iterator.currentStatus",
                                 "StringEquals": "success",
                              }

                           ],
                           "Next": "OlapResultCollection"
                        },
                        {
                           "And": [
                              {
                                 "Variable": "$.iterator.index",
                                 "NumericLessThanPath": "$.metadata.engine.counts",
                              },
                              {
                                 "Variable": "$.iterator.currentStatus",
                                 "StringEquals": "success",
                              }

                           ],
                           "Next": "OlapResultStepsCollection"
                        }
                     ],
                     "Default": "OlapWait"
                  },
                  "OlapResultStepsCollection": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdaoutputs-dev",
                     "Parameters": {
                        "result.$": "$.olap",
                        "resultPath": "olap",
                        "resultType.$": "$.currentStep.type",
                        "name.$": "$.currentStep.stackName"
                     },
                     "ResultPath": "$.olap",
                     "Next": "OlapStepsArg"
                  },
                  "OlapResultCollection": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-utilscfnlambdaoutputs-dev",
                     "Parameters": {
                        "result.$": "$.olap",
                        "resultPath": "olap",
                        "resultType.$": "$.currentStep.type",
                        "name.$": "$.currentStep.stackName"
                     },
                     "ResultPath": "$.olap",
                     "Next": "OlapEnd"
                  },
                  "OlapEnd": {
                     "Type": "Succeed"
                  }
               }
            }
         ],
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ] 
      },
      "SSMResultPass": {
         "Type": "Pass",         
         "Result": {
            "traceId.$": "$.common.traceId",
            "engine.$": "$.result.engine",
            "olap.$": "$.result.olap"
         },
         "ResultPath": "$.result",
         "Next": "SSMTrace"
      },
      "SSMCreation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "write",
            "key.$": "$.common.tenantId",
            "value.$": "$.result" 
         },
         "ResultPath": null,
         "Next": "Success"
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "message.$": "$.action.message",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required",
            
         },
         "ResultPath": null,
         "Next": "ResouceMetadata"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.action.message",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootfailedcleanup-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.error",
            "status": "failed"
         },
         "End": true
      },
   }

}