processor/async/tenantboot/tmp.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootargsvalidation-dev",
         "ResultPath": null,
         "Next": "Actions",
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
      },
      "ResouceMetadata": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootresoucemate-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "resources.$": "$.resources"
         },
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ],
         "ResultPath": "$.metadata",
         "Next": "ResourceCreation"
      },
      "ResourceCreation": {
         "Type": "Parallel",
         "InputPath": "$",
         "Next": "SSMCreation",
         "Branches": [
            {
               "StartAt": "EMRCreation",
               "States": {
                  "EMRCreation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootemr-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "resources.$": "$.resources",
                        "matedata.$": "$.matedata"
                     },
                     "ResultPath": "$.EMRResult",
                     "End": true
                  }
               }
            },
            {
               "StartAt": "EC2Creation",
               "States": {
                  "EC2Creation": {
                     "Type": "Task",
                     "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootec2-dev",
                     "Parameters": {
                        "traceId.$": "$.common.traceId",
                        "projectId.$": "$.common.projectId",
                        "owner.$": "$.common.owner",
                        "showName.$": "$.common.showName",
                        "resources.$": "$.resources",
                        "matedata.$": "$.matedata"
                     },
                     "ResultPath": "$.EC2Result",
                     "End": true
                  }
               }
            }
         ],
         "Catch": [ {
             "ErrorEquals": [ "States.Runtime" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.TaskFailed" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          }, {
             "ErrorEquals": [ "States.ALL" ],
             "ResultPath": "$.error",
             "Next": "CleanUp"
          } ] 
      },
      "SSMCreation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "write",
            "key.$": "$.common.projectId",
            "value": {
               "projectName.$": "$.common.projectName",
               "currentContext": "V2"
            }
         },
         "ResultPath": null,
         "Next": "Success"
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required"
         },
         "ResultPath": null,
         "Next": "ResouceMetadata"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.result",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phbootfailedcleanup-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "datasets.$": "$.datasets",
            "scripts.$": "$.scripts"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.error",
            "status": "failed"
         },
         "End": true
      },
   }

}