processor/async/tenantstop/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phterminationargsvalidation-dev",
         "ResultPath": null,
         "Next": "SSMRead",
         "Catch": [ {
            "ErrorEquals": [ "States.Runtime" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.TaskFailed" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.ALL" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         } ]
      },
      "SSMRead": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "read",
            "key.$": "$.common.tenantId",
            "value": {}
         },
         "ResultPath": "$.resources",
         "Next": "Actions"
      },
      "StopingNotification": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.resources.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.action.message",
            "status": "stoping"
         },
         "ResultPath": null,
         "Next": "ResourceDeletion"
      },
      "ResourceDeletion": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phterminationresourcesteps-dev",
         "Parameters": {
            "traceId.$": "$.resources.traceId",
            "tenantId.$": "$.common.tenantId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "resources.$": "$.resources"
         },
         "ResultPath": "$.iterator",
         "Next": "WaitResourceDeletion",
         "Catch": [ {
            "ErrorEquals": [ "States.Runtime" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.TaskFailed" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         }, {
            "ErrorEquals": [ "States.ALL" ],
            "ResultPath": "$.error",
            "Next": "CleanUp"
         } ]
      },
      "WaitResourceDeletion": {
         "Type": "Wait",
         "Seconds": 30,
         "Next": "ResourceDeletionCheck"
      },
      "ResourceDeletionCheck": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phterminationresourcecheck-dev",
         "Parameters": {
            "stackNames.$": "$.iterator.stackNames"
         },
         "ResultPath": "$.iterator",
         "Next": "ResouceDeletionReached"
      },
      "ResouceDeletionReached": {
         "Type": "Choice",
         "Choices": [
            {
               "Variable": "$.iterator.wait",
               "BooleanEquals": true,
               "Next": "WaitResourceDeletion"
            }
         ],
         "Default": "SSMDeletion"
      },
      "SSMDeletion": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "deletion",
            "key.$": "$.common.tenantId",
            "value": {}
         },
         "ResultPath": null,
         "Next": "Success"
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsactions-dev",
         "Parameters": {
            "traceId.$": "$.resources.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.action.message",
            "required.$": "$.action.required"
         },
         "ResultPath": null,
         "Next": "StopingNotification"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.resources.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.action.message",
            "status": "success"
         },
         "End": true
      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phterminationcleanup-dev",
         "Parameters": {
            "traceId.$": "$.resources.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.resources.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.error",
            "status": "failed"
         },
         "End": true
      }
   }

}