processor/async/personalresstops/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
      "StartState": {
         "Type": "Pass",
         "ResultPath": null,
         "Next": "ArgsValidation"
      },
      "ArgsValidation": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phpersonalresstopargsvalidation",
         "ResultPath": null,
         "Next": "Actions",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "SSMRead": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "read",
            "key.$": "$.common.tenantId",
            "value": {}
         },
         "ResultPath": "$.resources",
         "Next": "CodeeditorDeletion"
      },
      "CodeeditorDeletion": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phpersonalresstopsteps",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "tenantId.$": "$.common.tenantId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "resourceId.$": "$.resourceId"
         },
         "ResultPath": "$.iterator",
         "Next": "WaitCodeeditorDeletion",
         "Catch": [
            {
               "ErrorEquals": [
                  "States.Runtime"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.TaskFailed"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            },
            {
               "ErrorEquals": [
                  "States.ALL"
               ],
               "ResultPath": "$.error",
               "Next": "CleanUp"
            }
         ]
      },
      "WaitCodeeditorDeletion": {
         "Type": "Wait",
         "Seconds": 30,
         "Next": "CodeeditorDeletionCheck"
      },
      "CodeeditorDeletionCheck": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phterminationresourcecheck",
         "Parameters": {
            "stackNames.$": "$.iterator.stackNames"
         },
         "ResultPath": "$.iterator",
         "Next": "CodeeditorDeletionReached"
      },
      "CodeeditorDeletionReached": {
         "Type": "Choice",
         "Choices": [
            {
               "Variable": "$.iterator.wait",
               "BooleanEquals": true,
               "Next": "WaitCodeeditorDeletion"
            }
         ],
         "Default": "SSMDelete"
      },
      "Actions": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsaction-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "message.$": "$.action.message",
            "comments.$": "$.action.comments",
            "required.$": "$.action.required"
         },
         "ResultPath": null,
         "Next": "SSMRead"
      },
      "Success": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message": {
               "type": "notification",
               "opname.$": "$.common.owner",
               "cnotification": {
                  "data": {"personalResStops":"success"},
                  "error": {}
               }
            },
            "status": "stopped"
         },
         "End": true

      },
      "SSMDelete": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
         "Parameters": {
            "action": "delete",
            "key.$": "States.Format('{}-{}-{}', $.iterator.type, $.common.owner, $.resourceId)",
            "value": {}
         },
         "ResultPath": "$.resources",
         "Next": "Success"

      },
      "CleanUp": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phpersonalresstopcleanup",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "error.$": "$.error"
         },
         "ResultPath": null,
         "Next": "Failed"
      },
      "Failed": {
         "Type": "Task",
         "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
         "Parameters": {
            "traceId.$": "$.common.traceId",
            "projectId.$": "$.common.projectId",
            "owner.$": "$.common.owner",
            "showName.$": "$.common.showName",
            "jobCat.$": "$.action.cat",
            "jobDesc.$": "$.action.desc",
            "comments.$": "$.action.comments",
            "message.$": "$.error",
            "status": "stopfailed"
         },
         "End": true
      }
   }
}