processor/async/resourcedeletion/sm.json
{
   "Comment": "Pharbers Resource Creation",
   "StartAt": "StartState",
   "States": {
       "StartState": {
           "Type": "Pass",
           "ResultPath": null,
           "Next": "ArgsValidation"
       },
       "ArgsValidation": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionargsvalidation",
           "ResultPath": null,
           "Next": "Actions",
           "Catch": [
               {
                   "ErrorEquals": [
                       "States.Runtime"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.TaskFailed"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.ALL"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               }
           ]
       },
       "Actions": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsactions-dev",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "message.$": "$.action.message",
               "comments.$": "$.action.comments",
               "required.$": "$.action.required"
           },
           "ResultPath": null,
           "Next": "SSMRead"
       },
       "SuccessMessage": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phconvertmessagesuccess-dev",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "comments.$": "$.action.comments"
           },
           "ResultPath": "$.message",
           "Next": "Success"
       },
       "SSMRead": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsssmps-dev",
           "Parameters": {
               "action": "read",
               "key.$": "$.common.tenantId",
               "value": {
                   "projectName.$": "$.common.projectName",
                   "currentContext": "V2"
               }
           },
           "ResultPath": "$.resources",
           "Next": "DeletionRelations"
       },
       "DeletionRelations": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionrelations",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "flowVersion.$": "$.common.flowVersion",
               "datasets.$": "$.datasets",
               "scripts.$": "$.scripts"
           },
           "ResultPath": "$.result",
           "Next": "ConcreteDeletion"
       },
       "ConcreteDeletion": {
           "Type": "Parallel",
           "InputPath": "$",
           "ResultPath": "$.delete",
           "Next": "SuccessMessage",
           "Branches": [
               {
                   "StartAt": "DSDeletion",
                   "States": {
                       "DSDeletion": {
                           "Type": "Task",
                           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletiondsindex",
                           "Parameters": {
                               "traceId.$": "$.common.traceId",
                               "projectId.$": "$.common.projectId",
                               "projectName.$": "$.common.projectName",
                               "owner.$": "$.common.owner",
                               "showName.$": "$.common.showName",
                               "resources.$": "$.resources",
                               "datasets.$": "$.result.datasets"
                           },
                           "ResultPath": null,
                           "Next": "DSResourceDeletion"
                       },
                       "DSResourceDeletion": {
                           "Type": "Task",
                           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletiondsresource",
                           "Parameters": {
                               "traceId.$": "$.common.traceId",
                               "projectId.$": "$.common.projectId",
                               "projectName.$": "$.common.projectName",
                               "owner.$": "$.common.owner",
                               "showName.$": "$.common.showName",
                               "resources.$": "$.resources",
                               "datasets.$": "$.result.datasets"
                           },
                           "ResultPath": null,
                           "End": true
                       }
                   }
               },
               {
                   "StartAt": "ScriptDeletion",
                   "States": {
                       "ScriptDeletion": {
                           "Type": "Task",
                           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionscriptindex",
                           "Parameters": {
                               "traceId.$": "$.common.traceId",
                               "projectId.$": "$.common.projectId",
                               "projectName.$": "$.common.projectName",
                               "owner.$": "$.common.owner",
                               "showName.$": "$.common.showName",
                               "resources.$": "$.resources",
                               "scripts.$": "$.result.scripts"
                           },
                           "ResultPath": null,
                           "Next": "ScriptResourceDeletion"
                       },
                       "ScriptResourceDeletion": {
                           "Type": "Task",
                           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionscriptresource",
                           "Parameters": {
                               "traceId.$": "$.common.traceId",
                               "projectId.$": "$.common.projectId",
                               "projectName.$": "$.common.projectName",
                               "owner.$": "$.common.owner",
                               "showName.$": "$.common.showName",
                               "resources.$": "$.resources",
                               "scripts.$": "$.result.scripts"
                           },
                           "ResultPath": null,
                           "Next": "StepsDeletion"
                       },
                       "StepsDeletion": {
                        "Type": "Task",
                        "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionstepindex",
                        "Parameters": {
                            "traceId.$": "$.common.traceId",
                            "projectId.$": "$.common.projectId",
                            "projectName.$": "$.common.projectName",
                            "owner.$": "$.common.owner",
                            "showName.$": "$.common.showName",
                            "resources.$": "$.resources",
                            "scripts.$": "$.result.scripts"
                        },
                        "ResultPath": null,
                        "End": true
                    }
                   }
               },
               {
                   "StartAt": "LinksDeletion",
                   "States": {
                       "LinksDeletion": {
                           "Type": "Task",
                           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionlinksindex",
                           "Parameters": {
                               "traceId.$": "$.common.traceId",
                               "projectId.$": "$.common.projectId",
                               "projectName.$": "$.common.projectName",
                               "owner.$": "$.common.owner",
                               "showName.$": "$.common.showName",
                               "links.$": "$.result.links"
                           },
                           "ResultPath": "$.result.links",
                           "End": true
                       }
                   }
               }
           ],
           "Catch": [
               {
                   "ErrorEquals": [
                       "States.Runtime"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.TaskFailed"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               },
               {
                   "ErrorEquals": [
                       "States.ALL"
                   ],
                   "ResultPath": "$.error",
                   "Next": "CleanUp"
               }
           ]
       },
       "Success": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "comments.$": "$.action.comments",
               "message.$": "$.message",
               "status": "succeed"
           },
           "End": true
       },
       "CleanUp": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:phresdeletionfailedcleanup",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "projectName.$": "$.common.projectName",
               "errors.$": "$.error",
               "result.$": "$.result",
               "resources.$": "$.resources"
           },
           "ResultPath": "$.error",
           "Next": "Failed"
       },
       "Failed": {
           "Type": "Task",
           "Resource": "arn:aws-cn:lambda:cn-northwest-1:444603803904:function:lmd-phutilsnotification-dev",
           "Parameters": {
               "traceId.$": "$.common.traceId",
               "projectId.$": "$.common.projectId",
               "owner.$": "$.common.owner",
               "showName.$": "$.common.showName",
               "jobCat.$": "$.action.cat",
               "jobDesc.$": "$.action.desc",
               "comments.$": "$.action.comments",
               "message.$": "$.error",
               "status": "failed"
           },
           "End": true
       }
   }
}